@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
}

 
.quicksand-normal {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}